.top-nav {
    padding:0px;
    height: 50px;
    background: #708F93;
    box-shadow: 0px 3px 6px #00000029;
}

    .top-nav ul {
        list-style-type: none;
        margin-top: 0px;
        margin-bottom: 0px;
    }

        .top-nav ul li {
            float: right;
        }

            .top-nav ul li a {
                display: block;
                color: #E9E7E1;
                font-weight: bold;
                text-align: right;
                text-decoration: none;
                padding-left: 10px;
            }

            .top-nav ul li a:hover{
                cursor:pointer; 
                color:#EAA69A;
            }

    .top-nav h1 {
        font-size: 16px;
        align-self: center;
        font-weight: bolder;
        color: #E9E7E1;
        margin-bottom: 0 !important;
        text-transform: uppercase;
    }