<!-- General-- >
html, body {
    
  margin:0px;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#708F93;
}

app {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    padding-left:15px;
    margin-left: 150px;
    width:100%;
}

.card {
    padding: 10px;
    margin: 10px;
    background: #E9E7E1;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E4BDB4;
}
.modal-content{

    padding: 10px;
    background: #E9E7E1;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E4BDB4;
}

.form-control{
    padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        background: #EDEBE7;
        border: 1px solid #EAA69A;
        color: #708F93;
       font-size: 12px;
        margin-bottom:5px;
}
.form-control:focus{
    background: #f7f4f0;
        border: 1px solid #EAA69A;
}
.e-dialog .e-dlg-content {
    padding: 10px;
    background: #E9E7E1;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E4BDB4;
}



.icon {
    color: #708F93;
}
.icon:hover {
    cursor: pointer;
    color: #EAA69A;
    fill: #EAA69A;
}

.StatCube{
    padding:5px;
    background-color: #EDEBE7;
    border: solid 2px #E9E7E1;

    color: #708F93;
    font-size:14px;
}
.StatCubesmall{
    padding:5px;
    background-color: #EDEBE7;
    border: solid 2px #E9E7E1;

    color: #708F93;
    font-size:12px;
}
hr{
    margin:5px;
}

.custom-control-input:checked~.custom-control-label::before  {
    color:#EDEBE7;
    background-color: #708F93;
    border-color: #EAA69A;
}
.custom-control-label::before {
    background-color:#EDEBE7;
    border-color:#EAA69A;
}
.custom-control-label{
    
    font-size:13px;
}
.custom-select{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background: #EDEBE7;
    border: 1px solid #EAA69A;
    color: #708F93;
   font-size: 12px;
    margin-bottom:-.7rem;
}

/*TOASTIFY*/
/** Used to define container behavior: width, position: fixed etc... **/

.Toastify__toast--default {

    padding: 10px !important;
    margin: 10px;
    background: #E9E7E1 !important;
    box-shadow: 0px 3px 6px #00000029 !important;
    border: 1px solid #E4BDB4 !important;
    font-size:14px;
}
.Toastify__progress-bar--default {
    background:#708F93 !important;
}


label.form-label{
    font-size:12px;
    margin-bottom:.2rem;
}